.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    color: white;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li{
    padding: 10px;
}